[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.27.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
prepare = "python3 setup.py sdist bdist_wheel"
